
    .test {
      width:40px;
      border-bottom: 1px solid white;
      transform: translateY(-10px) translateX(45px) rotate(-70deg);
      position: absolute;
      /* top: -20px; */
    }
    .test2 {
      width:40px;
      border-bottom: 1px solid white;
      transform: translateY(-10px) translateX(-65px) rotate(-70deg);
      position: absolute;
      /* top: -20px; */
    }